



.form-question-container {
    /* max-width: 800px; */
    width: 100%;
    padding: 16px;
    /* background-color: #f9f9f9; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
  }

  .grid-column {
    overflow-y: auto; /* Enable scrolling */
    padding: 16px;
    border: 1px solid #ddd; /* Optional styling */
    border-radius: 8px; /* Optional styling */
    height: 100%; /* Ensure the column fills the available space */
    box-sizing: border-box;
  }
  
  /* Scrollbar styling for modern browsers */
  .grid-column::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar (if needed) */
  }
  
  .grid-column::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track */
    border-radius: 4px;
  }
  
  .grid-column::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 16px; /* Roundness of the scrollbar thumb */
    border: 2px solid #f0f0f0; /* Padding around the thumb */
  }
  
  .grid-column::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
  }
  
  /* For Firefox */
  .grid-column {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f0f0f0; /* thumb and track */
  }

  .fab {
    /* position: absolute; */
    top: 15%;
    /* transform: translateY(-20%); */
    /* background-color: var(--paper-color);
    color: var(--paper-color); */
}




/* .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin: 16px auto 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 90%;
    height: 50vh; Full height of the viewport
    overflow: hidden; Prevent overflow of the container
}



.sidebar {
    height: calc(100vh - 32px);
    border-right: 1px solid #ccc;
    overflow-x: hidden;
    transition: width 0.5s ease;
    overflow-y: auto;
    z-index: 2;
}

.viewer {
    height: calc(100vh - 32px);
    transition: width 0.5s ease;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-grow: 1;
    z-index: 1;
}

.fab-container {
    position: relative;
    display: flex;
    padding: 8px;
    background-color: var(--paper-color);
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 16px;
}



.viewer-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; Enable vertical scrolling
} */