.breadcrumbs {
  padding: 8px 16px;
  margin-left: 50px;
}

.breadcrumb-link {
  color: var(--primary-main);
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-text {
  color: var(--text-primary);
  font-weight: bold;
}
