/* .box {
    display: flex;
    align-items: center;
    width: 100%;
}

.typography {
    flex-grow: 1;
    font-size: 1.3em;
    color: #63666A;
}

.question-prefix {
    margin-right: 0.5em;
}

.question-text {
    margin-left: 0.5em;
} */