.sidebar {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-content {
    margin-top: 5%;
    margin-bottom: 30px;
    /* flex-grow: 0; */
    /* overflow: hidden; Prevent overflow of the content */
}

.sidebar-content > *:not(:last-child) {
    margin-bottom: 30px;
}

.scrollable {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Scrollbar styling for modern browsers */
.scrollable::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar (if needed) */
}

.scrollable::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track */
    border-radius: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 16px; /* Roundness of the scrollbar thumb */
    border: 2px solid #f0f0f0; /* Padding around the thumb */
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}

.scrollable {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f0f0f0; /* thumb and track */
}